<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dolphin.dao.mapper.SiteMapper">
    <resultMap id="site" type="dolphin.entity.Site">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_at" property="createAt" jdbcType="DATE"/>
        <result column="update_at" property="updateAt" jdbcType="DATE"/>
    </resultMap>
    <select id="findAll" resultMap="site">
        select id,url,is_delete,name,create_at,update_at from site
    </select>
</mapper>