<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dolphin | 任务调度</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/ionicons.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css"/>
</head>
<body class="skin-blue">
<header class="header" th:include="include/header :: header"></header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas"   th:include="include/left :: left"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>
                任务调度
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li  class="active">任务调度</li>
                <!--<li class="active">Data tables</li>-->
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">工程列表</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>环境</th>
                                <th>端口</th>
                                <th>管理端口</th>
                                <th>主机</th>
                                <th>部署路径</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody th:each="item:${app}">
                            <tr>
                                <td th:text="${item.projectName}"></td>
                                <td th:text="${item.projectEnv}"></td>
                                <td th:text="${item.projectAppPort}"></td>
                                <td th:text="${item.projectManagementPort}"></td>
                                <td th:text="${item.projectDeployHost}"></td>
                                <td th:text="${item.projectDeployPath}"></td>
                                <td></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>name</th>
                                <th>env</th>
                                <th>port</th>
                                <th>管理端口</th>
                                <th>deploy host</th>
                                <th>deploy path</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div>
<!-- jQuery 2.0.2 -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="/static/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>

<!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>

</body>
</html>