<aside class="left" th:fragment="left" xmlns:th="http://www.thymeleaf.org">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/img/avatar3.png" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>Hello, Jane</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a href="../../index.html">
                    <i class="fa fa-arrows"></i> <span>站点导航</span>
                </a>
            </li>
            <li>
                <a href="/app">
                    <i class="fa fa-bars"></i> <span>应用管理</span>
                </a>
            </li>
            <li>
                <a href="/script">
                    <i class="fa fa-dashboard"></i> <span>脚本中心</span>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="/task">-->
                    <!--<i class="fa fa-fighter-jet"></i> <span>任务调度</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/task">-->
                    <!--<i class="fa fa-cny"></i> <span>资产管理</span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </section>
</aside>
