<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dolphin | 脚本中心</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/ionicons.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css"/>
</head>
<body class="skin-blue">
<header class="header" th:include="include/header :: header"></header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas" th:include="include/left :: left"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>
                脚本中心
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">脚本中心</li>
                <!--<li class="active">Data tables</li>-->
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">脚本列表</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <!--<a th:href="'/app/'" class="btn btn-info btn-sm"></a>-->
                        <a th:href="'/script/save'" class="btn btn-primary btn-sm right">创建</a>
                    </div>

                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>description</th>
                                <th>状态</th>
                                <th>连接</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${script}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.description}"></td>
                                <td> 最新</td>
                                <td>
                                    <a th:href="${'/script/find?id='+item.id}" th:text="${'/script/find?id='+item.id}" target="_blank"></a>
                                </td>
                                <td>
                                    <a th:href="'/script/'+${item.id}" class="btn btn-info btn-sm">查看</a>
                                    <!--<a th:href="'/script/'+${item.id}" class="btn btn-info btn-sm">历史</a>-->
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>description</th>
                                <th>状态</th>
                                <th>连接</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div>
<!-- jQuery 2.0.2 -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="/static/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>

<!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>

</body>
</html>