<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dolphin | 应用管理</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/ionicons.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css"/>
</head>
<body class="skin-blue">
<header class="header" th:include="include/header :: header"></header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" th:include="include/left :: left"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>
                查看脚本
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">查看脚本</li>
            </ol>
        </section>
        <section class="content">
            <!-- right column -->
            <div class="col-md-6">
                <!-- general form elements disabled -->
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title" th:text="${script.name}"></h3>
                    </div>
                    <div class="box-body">
                        <form role="form" method="post" action="/script/update">
                            <input type="text" name="id" th:value="${script.id}" class="form-control hidden"/>
                            <div class="form-group">
                                <label>脚本文件名称</label>
                                <input type="text" name="name" th:value="${script.name}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>描述</label>
                                <input type="text" name="description" th:value="${script.description}"
                                       class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>文件类型</label>
                                <select class="form-control" name="type">
                                    <option name="type" th:value="1">python</option>
                                    <option name="type" th:value="0">shell</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>脚本内容</label>
                                <textarea class="form-control" name="file" th:text="${script.file}" rows="3"
                                          placeholder="Enter ..."></textarea>
                            </div>
                            <div class="form-group">
                                <label>关联任务</label>
                                <select class="form-control">
                                    <option>不选择</option>
                                    <option>任务1</option>
                                    <option>任务2</option>
                                </select>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">保存</button>
                                <a href="#" class="btn btn-primary" onclick="javascript :history.go(-1);">返回</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>
</body>
</html>