<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head :: head"></head>
<body class="skin-blue">
<header class="header" th:include="include/header :: header"></header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" th:include="include/left :: left"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>
                导航
                <small>控制中心</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">导航</li>
            </ol>
        </section>
        <section class="content">
            <div class="box-body">
                <!--<a th:href="'/app/'" class="btn btn-info btn-sm"></a>-->
                <a th:href="'/site'" class="btn btn-primary btn-sm right">创建</a>
            </div>
            <BR />
            <!-- 导航 -->
            <div class="row">
                <div class="col-lg-3 col-xs-6" th:each="item:${site}">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>
                                ok<sup style="font-size: 20px">%</sup>
                            </h3>
                            <a th:text="${item.name}" style="color: white" th:href="'http://'+${item.url}" target="_blank"></a>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 connectedSortable">
                </div>
            </div>
        </section>
    </aside>
</div>
</body>
</html>