<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dolphin | 应用管理</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/ionicons.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css"/>
</head>
<body class="skin-blue">
<header class="header" th:include="include/header :: header"></header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas"   th:include="include/left :: left"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>
                应用管理
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li  class="active">应用管理</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">工程列表</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <!--<a th:href="'/app/'" class="btn btn-info btn-sm"></a>-->
                        <a th:href="'/app/save'" class="btn btn-primary btn-sm right">创建</a>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>环境</th>
                                <th>端口</th>
                                <th>管理端口</th>
                                <th>主机</th>
                                <th>顺序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${app}">
                                <td th:text="${item.projectName}"></td>
                                <td th:text="${item.projectEnv}"></td>
                                <td th:text="${item.projectAppPort}"></td>
                                <td th:text="${item.projectManagementPort}"></td>
                                <td th:text="${item.projectDeployHost}"></td>
                                <td th:text="${item.startSeq}"></td>
                                <td><a th:href="'/app/'+${item.projectName}" class="btn btn-info btn-sm">Info</a></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>名称</th>
                                <th>环境</th>
                                <th>端口</th>
                                <th>管理端口</th>
                                <th>主机</th>
                                <th>顺序</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>
</body>
</html>